{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="signup-login">
        <div class="signup-box">


            <form method="POST">
                {% csrf_token %}
                <div class="heading">Login</div>
                <div class="line"></div>

                <div class="field">
                    <b>Username</b>
                    <input type="text" required class="inp" placeholder="Enter your username" name="fnm">
                </div>
               
                <div class="field">
                    <b>Password</b>
                    <input type="password" required class="inp" name="pwd">
                </div>
                <div class="field">
                    <input type="submit" value="Login" class="submit-button">
                </div>

                <div class="line"></div>

                <div class="field">
                    <b style="margin-left:130px;">Don't have an account?</b>
                    <br>
                    <a class="anc"href="{% url 'signuppage' %}">SignUp</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
